body {
    font-family: sans-serif;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 150px;
    flex-direction: column;
}

.first-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightsalmon;
    position: absolute;
    z-index: -5;
    top: 400px;
    
}

.second-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(241, 200, 1100);
    position: absolute;
    z-index: -4;
    top: 350px;
}

.third-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 194, 169);
    position: absolute;
    z-index: -3;
    top: 300px;
}

.fourth-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 220, 211);
    position: absolute;
    z-index: -2;
    top: 250px;
}

.fifth-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 20, 220);
    position: absolute;
    top: 220px;

}