header {
    width: 100%;
    height: 50px;
    background-color: rgb(113, 74, 145);
}

section {
    width: 100%;
    height: 100px;
    background-image: repeating-linear-gradient(red, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#main {
    box-shadow: 2px 2px 5px grey;
}

.about-me {
    width: 100%;
    height: 250px;
    background-color: rgb(177, 69, 21, 0.8);
}

.avatar {
    width: 100px;
    border-radius: 50px;
}

#name {
    color: blueviolet;
}

.test {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
}

.button {
    border: 0;
    padding: 0 20px;
    font-size: 20px;
    width: 150px;
    line-height: 2.5;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, 
    rgba(0,0,0,0.2), 
    rgba(0,0,0, 0.2) 30%,
    rgba(0,0,0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), 
    inset -2px -2px -3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.button:hover{
    background-color: rgba(255, 0,0, 1);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}